<form [formGroup]="formEdit" (ngSubmit)="edit()" >
  <table class="table table-striped" >
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
    </tr>
    <tr >
      <td><input type="text" class="form-control" formControlName="id"></td>
      <td><input type="text" class="form-control" formControlName="name"></td>
      <td><input type="text" class="form-control" formControlName="price"></td>
      <td><input type="text" class="form-control" formControlName="description"></td>
    </tr>
  </table>
  <button class="btn btn-primary" routerLink="/">Cancel</button>
  <button class="btn btn-primary" type="submit">Edit</button>
</form>
